
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (signInManager.IsSignedIn(User))
{
    <div>
        <a asp-action="Index" asp-controller="ToDoModels" class="btn btn-primary"> GoTo ToDo</a>
        <a asp-action="IndexUser" asp-controller="Manage" class="btn btn-primary">GoTo Manage</a>
    </div>
}
else
{
    <div>
        This is not the page you are looking for.
        Please log in.
    </div>
}


